header {
  width: 94%;
  margin: 30px 40px 40px;
  background: none;
  opacity: 0.73;
}
header li {
  display: inline-block;
  margin-right: 10px;
}
header a {
  text-decoration: none;
  color: #cdcdcd;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.188em;
  text-decoration-color: rgba(241, 205, 179, 0.9);
  text-underline-offset: 0.438em;
}
header a:focus {
  text-decoration: underline;
  text-decoration-thickness: 0.188em;
  text-decoration-color: rgba(241, 205, 179, 0.9);
  text-underline-offset: 0.438em;
}

.logo {
  letter-spacing: 6%;
  color: rgb(241, 205, 179);
  letter-spacing: 0.06em;
  line-height: 0;
}

.logo-text {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10%;
  color: #ffffff;
  letter-spacing: 0.1em;
  line-height: 0.625em;
}

.title-logo {
  opacity: 0.53;
}

.header-wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-title {
  margin: 8px;
}

.startScreen {
  background: none;
}

.content {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.98;
  flex-wrap: nowrap;
  display: flex;
}
.content .content-text {
  margin: 4.5vh;
  flex-wrap: nowrap;
}
.content .content-text h2 {
  line-height: 130%;
}
.content .content-text p {
  line-height: 160%;
}
.content h2 {
  color: #ffffff;
}
.content p {
  color: #cdcdcd;
}
.content button {
  background-color: #f1cdb3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  gap: 10px;
  border-radius: 100px;
  left: calc(50% - 103.5px - 126.5px);
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.063em;
  margin-top: 2.5em;
}
.content button a {
  color: black;
}
.content img {
  max-width: 54.5vw;
  height: 56.8vw;
}

@media (max-width: 1280px) {
  .content {
    flex-direction: column;
    justify-content: center;
  }
  .button {
    display: block;
    margin: 0 auto;
  }
}
.about {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}
.about h3 {
  color: rgb(84, 84, 84);
  line-height: 130%;
  letter-spacing: 0.06em;
}
.about p {
  color: rgb(76, 76, 76);
  line-height: 160%;
  font-weight: 400;
}
.about img {
  size: 105%;
}

@media (max-width: 1280px) {
  .about {
    flex-direction: column-reverse;
  }
  .about img {
    margin-top: 2em;
  }
}
.pets {
  background-color: #F6F6F6;
  margin-top: 0px 0px 0px 0px;
  padding: 5%;
}
.pets a {
  text-decoration: none;
  color: #292929;
}
.pets h3 {
  color: rgb(84, 84, 84);
  text-align: center;
  display: block;
  line-height: 130%;
  -webkit-margin-before: 0%;
          margin-block-start: 0%;
}
.pets .pets-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.pets .pets-content .slider-item {
  background-color: #FAFAFA;
  border-radius: 9px;
}
.pets .know-rest {
  background-color: #f1cdb3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  gap: 10px;
  border-radius: 100px;
  left: calc(50% - 103.5px - 126.5px);
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.063em;
  margin-top: 2.5em;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
}
.pets .container {
  text-align: center;
}
.pets .learn-more {
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  border-radius: 100px;
  gap: 10px;
  align-items: center;
  padding: 15px 45px;
}

.forward-btn,
.bck-btn {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  outline: none;
  border: 2px solid #F1CDB3;
  background-color: #F6F6F6;
}

i {
  border: solid #292929;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media (max-width: 1280px) {
  .woody {
    display: none;
  }
  #pets {
    flex-wrap: nowrap;
  }
  .slider-item {
    width: 270px;
    height: 435px;
  }
}
@media (max-width: 768px) {
  .woody {
    display: none;
  }
  #pets {
    flex-wrap: wrap;
  }
}
.help {
  background-color: #ffffff;
  padding: 5%;
}
.help h3 {
  text-align: center;
  color: #545454;
}
.help .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3%;
}
.help .list div {
  margin: 2em;
  height: auto;
}

@media (max-width: 1280px) {
  #donation {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
}
.donation {
  background-color: #F6F6F6;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.donation .donation-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.donation h3 {
  line-height: 130%;
}
.donation .card {
  display: flex;
  flex-direction: row;
  background-color: #F1CDB3;
  border-radius: 9px;
  align-items: center;
  gap: 10px;
  border: none;
  padding-right: 16px;
  padding-left: 16px;
}
.donation .card h4 {
  line-height: 115%;
  color: #545454;
  margin: 0.6em;
  text-align: left;
}
.donation .card img {
  width: 2em;
  height: auto;
}
.donation .content-card {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #B2B2B2;
  text-align: left;
}

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
}
footer h3 {
  color: white;
}
footer p {
  color: #F1CDB3;
  margin: 1em;
}
footer .mail,
footer .phone,
footer .boston,
footer .london {
  display: flex;
  flex-wrap: nowrap;
}

#footer-puppy2 {
  display: none;
}

@media (max-width: 1280px) {
  footer {
    align-items: center;
  }
  #footer-puppy {
    display: none;
  }
  #footer-puppy2 {
    display: block;
    margin: 0 auto;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: url(picture/start_screen_gradient_background.png), radial-gradient(100% 215.42% at 0%, #5b483a 0%, #262425 100%), #211f20;
  margin: 0;
}
body h2 {
  font-size: 2.75em;
  letter-spacing: 0.06em;
}
body h3 {
  font-size: 2.2em;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body h4 {
  font-size: 20px;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body p,
body a {
  font-size: 1em;
  font-family: Arial, Helvetica;
  text-decoration: none;
}
body button {
  cursor: pointer;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.head-pets {
  margin: 0;
  padding: 15px;
  width: 100%;
  background-color: white;
  opacity: 1;
}
.head-pets h3,
.head-pets p,
.head-pets a {
  color: #545454;
}
.head-pets .logo {
  margin: 0.5em;
}
.head-pets .title-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.head-pets .title-logo p {
  margin: 0.5em;
}
.head-pets .header-pets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pets .pets-content {
  flex-wrap: wrap;
}
.pets .pets-content .slider-item {
  padding: 1em;
  margin: 1em;
}